.navigationCenter {
	position: absolute;
	margin: auto 10px;
	max-height: fit-content;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 30px;
	border: 5px solid red;
}

.innerNav {
	margin: 0 auto;
	max-width: fit-content;
	height: fit-content;
	padding: 30px;
	position: relative;
	border: 5px solid blue;
}

.accountButtons {
 /* figure out how to center some other time */
}